<div class="container-fluid">
    <div class="row  ">
    <div class="col-md-6 container-fluid" style="padding-bottom: 6em; padding-top: 1em;"> 
        <h1 class="" >MY EDUCATION</h1>
       
        <div class="container" style="margin-top: 2em;" >          
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                      <p style="font-weight:500;">Batch of 2016/2017</p>
                      <p style="font-weight:500;">Bachelors Degree</p>
                    </td>
                  <td>
                      <p >Eastern University</p>
                      <p>I am currently following a degree in Computer Science at Eastern University, Trincomalee Campus.</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:500;">Batch of 2016</p>
                    <p style="font-weight:500;">G.C.E A/L</p></td>
                  <td>I passed my G.C.E Advance Level form Mathematics stream in year 2016</td>
                  
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:500;">Batch of 2013</p>
                    <p style="font-weight:500;">G.C.E O/L</p>
                  </td>
                  <td>I passed my G.C.E Ordinary Level Examination in year 2013</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
    </div>


    <div class="col-md-6 contact-right" style="margin-top: 90px;">
        <div class="row  ">
            <h1 class="" >MY ACHIEVEMENTS</h1>
       
        <div class="container" style="margin-top: 2em;" >          
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                      <p style="font-weight:500;">ihack 5.0</p>
                      <p>2019 October</p>
                    </td>
                  <td>
                      <p style="font-weight:500;">Finalist</p>
                      <p>I am member of the team "Cubic View" who were selected as on of the 15 finalist for ihack 5.0 Inter University Software Development Competition held at UCSC</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:500;">Intra University Android Hackothon</p>
                    <p>2019 December</p></td>
                  <td>
                    <p style="font-weight:500;">1st Runner-up</p>
                    <p>I am member of the team "CODE RED" who won 1st Runner-up. Which was organized by Department of Computer Science, Trincomalee Campus, Eastern University</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <p style="font-weight:500;">Hackintra 2020</p>
                    <p>2020 January</p>
                  </td>
                  <td>
                    <p style="font-weight:500;">Winner</p>
                    <p>I am member of the team "Cubic View" who won Hackintra 2020. Which was 12 hours Inter University product development Hackothon held at University of Jafna</p>
                  </td>
                  
                </tr>

                <tr>
                    <td>
                      <p style="font-weight:500;">Let Me Hack 2.0</p>
                      <p>2020 February</p>
                    </td>
                    <td>
                      <p style="font-weight:500;">Finalist</p>
                      <p>I am member of the team "Cubic View" who were selected as one of the 20 finalists for Let Me Hack Eco v2.0, which was a 12 hours Inter University Product Oriented Hackothon held at Sabaragamuwa University Srilanka</p>
                    </td>
                    
                  </tr>
              </tbody>
            </table>
          </div>
            
            
        </div>
    </div>


</div>
