
<div class="container " style="padding-bottom: 15em; padding-top:1em">
    <h1 style="text-align: center; padding-bottom: 1em;">SKILLS</h1>
   
   
  
   
    <div class="progress">
      <div class="progress-bar" style="width:90%; background-color: rgb(147, 226, 43);">HTML</div>
    </div><br>
  
    
    <div class="progress">
      <div class="progress-bar" style="width:85%;background-color:rgb(219, 80, 219);">CSS</div>
    </div><br>
  
 
    <div class="progress">
       <div class="progress-bar " style="width:75%;background-color: rgb(250, 151, 39);">JavaScript</div>
    </div><br>

    <div class="progress">
        <div class="progress-bar " style="width:60%;background-color: rgb(43, 144, 226);">PHP</div>
     </div><br>
  
    
    <div class="progress">
      <div class="progress-bar " style="width:50%;background-color: rgb(241, 31, 31);">Angular</div>
    </div><br>

    <div class="progress">
        <div class="progress-bar " style="width:80%;background-color: rgb(63, 61, 65);">MySQL</div>
      </div><br>

    <div class="progress">
    <div class="progress-bar " style="width:75%;background-color: rgb(228, 207, 23);">Java</div>
    </div><br>

    <div class="progress">
    <div class="progress-bar" style="width:50%;background-color: rgb(113, 106, 119);">C++</div>
    </div><br>

    <div class="progress">
     <div class="progress-bar " style="width:70%;background-color: rgb(19, 100, 23);">Android Studio</div>
    </div><br>
  
  
   
  </div>
