<div >
<h2>about works!</h2>
<p>I’m undergraduate of Faculty of Applied Science, Department of Computer Science, Trincomalee Campus, Eastern University work as an active member of societies in the university and previously I was an active member of IT society in the school. I am determined to do well in my job and am determined to have a successful career. As well as make the company I work for more competitive.

    To be an effective and efficient team player in the working environment where I can apply my knowledge, skills and creativity to maximize the potential and make a considerable value addition to words the sustainability of the organization.</p>
</div>