

<div style="padding: 4em;" >
    <div>
        <h2 style="text-align: center; padding-bottom: 1em;">ACES CODERS 8.0</h2>
    </div>
    <div class="card-deck">
        <div class="card hovereffect ">
            <img  src="assets/p1.jpg " class="card-img-top" style="height: 100%;">
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Aces coders v8.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        

        
        </div>
        <div class="card hovereffect">
            <img  src="assets/p2.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Aces coders v8.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        
        </div>




        <div class="card hovereffect">
            <img  src="assets/p3.jpg" class="card-img-top" style="height: 100%;">
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Aces coders v8.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>
    </div>

    <div>
        <h2 style="text-align: center;  padding-top: 2em;">LET ME HACK 2.0</h2>
    </div>
    <div class="card-deck mt-5">
        <div class="card hovereffect">
            <img  src="assets/p10.jpg" class="card-img-top" style="height: 100%;">
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Let Me HACK v2.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>

        <div class="card hovereffect">
            <img  src="assets/p4.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Let Me HACK v2.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>
        
        <div class="card hovereffect">
            <img  src="assets/p6.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Let Me HACK v2.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>
    </div>


    <div class="card-deck mt-5">
        <div class="card hovereffect">
            <img  src="assets/p8.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Let Me HACK v2.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>

        <div class="card hovereffect">
            <img  src="assets/p11.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Let Me HACK v2.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
    </div>


        <div class="card hovereffect">
            <img  src="assets/p9.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">Let Me HACK v2.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>
    </div>

    <div>
        <h2 style="text-align: center;  padding-top: 2em;">HACKINTRA 2020</h2>
    </div>
    <div class="card-deck mt-5">
        <div class="card hovereffect">
            <img  src="assets/p12.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4"style="margin-top: 70px;font-size: 30px;">Hachintra 2020</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>


        <div class="card hovereffect">
            <img  src="assets/p14.jpg" class="card-img-top"style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4"style="margin-top: 70px;font-size: 30px;">Hachintra 2020</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
    
        </div>

        <div class="card hovereffect">
            <img  src="assets/p13.jpg" class="card-img-top"style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4"style="margin-top: 70px;font-size: 30px;">Hachintra 2020</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2020</h4>
            </div>
        </div>
        
    </div>



    <div>
        <h2 style="text-align: center;  padding-top: 2em;">ihack 5.0</h2>
    </div>
    <div class="card-deck mt-5">
        <div class="card hovereffect">
            <img  src="assets/p18.jpg" class="card-img-top" style="height: 100%;">
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">ihack 5.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2019</h4>
            </div>
        </div>

        <div class="card hovereffect">
            <img  src="assets/p17.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">ihack 5.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2019</h4>
            </div>
        </div>
        
        <div class="card hovereffect">
            <img  src="assets/p19.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">ihack 5.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2019</h4>
            </div>
        </div>
    </div>


    <div class="card-deck mt-5">
        <div class="card hovereffect">
            <img  src="assets/p20.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">ihack 5.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2019</h4>
            </div>
        </div>

        <div class="card hovereffect">
            <img  src="assets/p16.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">ihack 5.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2019</h4>
            </div>
    </div>


        <div class="card hovereffect">
            <img  src="assets/p15.jpg" class="card-img-top" style="height: 100%;" >
            <div class="card-img-overlay overlay" >
                <h3 class="card-title text-white display-4" style="margin-top: 70px;font-size: 30px;">ihack 5.0</h3>
                <h4 class="card-text text-white display-4" style="font-size: 30px;">2019</h4>
            </div>
        </div>
    </div>
</div>