

<div class="container mx-auto ">
  <nav  class="navbar navbar-expand-lg fixed-top "  style="background:rgb(27, 27, 27);">
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars" style="background-color: white;"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto h5  " style="padding-bottom: 20px; padding-top: 20px;">
                <li class="nav-item active " >
                  <a class="nav-link text-white " style="padding-right: 100px;" routerLink="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  " style="padding-right: 100px;">
                  <a class="nav-link text-white" routerLink="/" fragment="about">About</a>
                </li>
                <li class="nav-item  " style="padding-right: 100px;">
                  <a class="nav-link text-white" routerLink="/skils">Skils</a>
                </li>
                <li class="nav-item  " style="padding-right: 100px;">
                  <a class="nav-link text-white" routerLink="/education">Education & Experiance</a>
                </li>
                <li class="nav-item " style="padding-right: 100px;">
                  <a class="nav-link text-white" routerLink="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item  " style="padding-right: 100px;">
                  <a class="nav-link text-white" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
  </nav>
  </div>



<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- Image and text -->
<nav class ="navbar navbar-fixed-bottom navbar-inverse" style="background:rgb(27, 27, 27); padding: 3em;">
  <div class="container">
      <div class="navbar-header">
          <h4 style="color: floralwhite; font-size: x-large;" class="display-4">Nirodha Wickramarathna</h4>
          <p style="color: gray; text-align: right;">Copyright ©2020 All rights reserved | This template is made with Angular</p>
      </div>
      <div>
          
      </div>
  </div>
</nav>